header, footer{
	background-color: black;
}
.th{
	font-size: 3em;
	padding-top: 8px;
	margin-left: 20%;
}
.ts-1{
	font-size: 20px;
}
.ts-2{
	font-size: 30px;
}
.fs-3{
	font-size: 12px;
}
.menu{
	color:white;
	padding: 2%;
}
.menu:hover, li:hover, .co-r{
	color: red;
}

.bttn-1{
	padding: 2%;
	margin-top: 5%;
}
.bttn-2{
	width: 150px;
	height: 30px;
}
.bttn-3{
	font-size: 9px;
	padding: 5% 6%;
}
.bttn-4{
	background-color: red;
	color: white;
	padding: 3%;
	border: none;
}
h1{
	font-size: 30px;
}
.pjts{
	color: gray;
	padding-right: 1%;
}
.pjts:hover{
	color:black;
}
.icon{
	width: 80%;
}
li{
	list-style-type: none;
}

.faw{
	color: gray;
	border: 1px dashed white;
	border-radius: 100%;
	padding: 2%;
	margin: 1% 2%;
}
.fi{
	display: inline-block;
}
.com{
	position: absolute;
}
.inpt{
	background-color: gray;
	border: none;
	color: white;
}
.mg-r{
	margin-right: 42%;
}
.mg{
	margin-bottom: 25px;
}
.op{
	opacity: .3;
}
